<div class="center">
    <div class="titles">
        <h1>Profile-skill works!</h1>
        <h3>Perfiles coincidentes</h3>
        {{ response | json }}
        <h3>Lista de skills</h3>
        {{ skills | json }}
    </div>
    
    <div>
        <button *ngFor="let skill of listSkills" (click)="AgregarSkills(skill.id)" >{{ skill.name }}</button>
    </div>

    <div>
        <button (click)="FilterById(skills)">Consultar</button>
    </div>
</div>

<div class="center">
    <div class="add_skill_profile center">
        <h1>Agregar skill a perfil</h1>
        <div>
            <button mat-fab  color="primary" matTooltip="delete skill de perfil">
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-fab color="primary" matTooltip="add skill to profile">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <ul>
            <!-- Falta un endPoint que traiga todas las skills de profile by id -->
        <li *ngFor="let skill of listSkills">{{ skill.name }}</li>
        </ul>
    </div>
</div>






