.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titles{
  margin: 1rem;
}

table {
  width: 100%;
  margin-bottom: 1rem;
}
td{
  width: 25%;
}
.mat-row:not(.mat-no-data-row){
  transition: all 0.2s ease;
}
.mat-row:not(.mat-no-data-row):hover {
  cursor: pointer;
  background-color: #D8D8D8;
}
  
.center{
  text-align: center;
}
.container{
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
.btn{
  margin: 1rem 0;
  transition: all 0.3s ease;
}
.btn:hover{
  transform: scale(1.05);
}
.title{
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
} 

.description{
  font-size: 2vh;
  font-weight:500;
}

.mat-table{    
  border-radius: 1rem;
  overflow:hidden !important;
}
.table-btn{
  padding-right: 30px!important;
}
