<div class="center">
    <div class="add_skill_profile center">
        <h1>Agregar skill a perfil</h1>
        <div>
            <button mat-fab  color="primary" matTooltip="delete skill de perfil">
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-fab color="primary" matTooltip="add skill to profile">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <ul>
            <!-- Falta un endPoint que traiga todas las skills de profile by id -->
        <li *ngFor="let skill of listSkills">{{ skill.description }}</li>
        </ul>
    </div>
</div>

<div class="container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element"> - </td>
        </ng-container>
      
        <ng-container matColumnDef="Skill">
          <th mat-header-cell *matHeaderCellDef>SKILL</th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
      
        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef >
            <button class="btn" mat-raised-button color="primary" [disabled]="" routerLink="/">Add Skill</button>
          </th>
          <td mat-cell *matCellDef="let element" style="text-align: right; ">
            <a mat-icon-button  matTooltip="Eliminar empleado">
              <mat-icon color="warn">delete</mat-icon>
            </a>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
    
</div>




