.buttonMainAdd {
    background-color: #198754;
    padding: 10px;
    margin-bottom: 12px;
    font-size: 15px;
    float: right !important;
}

.mat-raised-button {
    background-color: #000000;
    color: white;
}

table {
    width: 100%;
}

.mat-form-field {
    margin: 10px;
    font-size: 14px;
    width: 95%;
}

.mat-fab {
    background-color: #198754;
}