<div mat-dialog-content>


    <div class="container text-center mt-3 mb-5">


        <div class="row">
            <div class="col text-start">
                <h2>Agregar Respuesta</h2>

            </div>
            <div class="col-md-6">
                <mat-slide-toggle class="ms-5" #slideToggleRef (change)="onSlideToggleChangeAnswer($event)">
                    <span>
                        <span [ngClass]="textoClaseAnswer">Texto</span> |
                        <span [ngClass]="imagenClaseAnswer">Imagen</span>
                    </span>
                </mat-slide-toggle>
            </div>
        </div>



        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Respuesta</mat-label>
                <input type="text" matInput [formControl]="myControl" [(ngModel)]="inputValue"
                    (ngModelChange)="validBtn()" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option.description}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <button type="button" [disabled]="!toggleValueAnswer" mat-flat-button class="blackButton me-4"
                (click)="ImgInput.click()">
                Subir Imagen
                <i class="material-icons right">
                    add_a_photo
                </i>

            </button>
            <input type="file" hidden #ImgInput (change)="captureImg($event)" />


            <button mat-flat-button class="blackButton" (click)="addSAnswerToQuestion()"
                [disabled]="!myControl.value">Agregar</button>

            <mat-slide-toggle class="ms-5" #slideToggleRef (change)="onSlideToggleChange($event)">Respuesta
                correcta?</mat-slide-toggle>


            <input type="file" hidden #ImgInput (change)="captureImg($event)" />

            <div *ngIf="previewImg && toggleValueAnswer" class="row" >
                <div class="row m-3">
                    <img width="60px" [src]="previewImg" />
                </div>
            </div>

        </form>
    </div>


    <table mat-table [dataSource]="dataSourceAnswer" class="mat-elevation-z8">

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Respuesta</th>
            <td mat-cell *matCellDef="let element">{{element.description}}</td>
        </ng-container>

        <ng-container matColumnDef="file">
            <th mat-header-cell *matHeaderCellDef>Imagen</th>
            <td mat-cell *matCellDef="let element">{{element.idFile}}</td>
        </ng-container>

        <ng-container matColumnDef="correcta">
            <th mat-header-cell *matHeaderCellDef>Correcta</th>
            <td mat-cell *matCellDef="let element">
                <mat-icon class="ms-2">{{ element.isCorrect ? 'check' : 'close' }}</mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>acciones</th>
            <td mat-cell *matCellDef="let element">
                <button mat-flat-button class="blackButton"
                    (click)="DeleteAnswerToQuestion(element.id)">Eliminar</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>




</div>