/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.titulo {

    text-align: center;
    color: black;
} */

/* .container {

    display: flex;
    justify-content: center;

}


.backButton {
    margin-right: 10px;
}

.example-full-width {
    width: 90%;
}


.margin-left {
    margin-left: 4rem;
}

.text {
    font-family: 'Poppins', sans-serif;
}


.mt-1{
    margin-top: 1rem;
}

.transparentButton{
    margin-top: 10px; margin-left: 10px;
} */
