<div>
  <h1 class="titulo">{{titulo}} Perfil</h1>
</div>

<div class="container">

  <form [formGroup]="formulario" (ngSubmit)="editarPerfil()">

    <div class="divPadre">

      <!-- <div style="margin-left: 10px;">
        <div style="width: 100px; height: 100px;">
          <iframe [src]="imgPerfil | editProfilePipe"></iframe>
        </div>
      </div> -->

      <div>
        <img [src]="imgProfile">
      </div>

      <div class="divHijo1">

        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input type="text" matInput formControlName="name">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Apellido</mat-label>
          <input type="text" matInput formControlName="lastName">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>DNI</mat-label>
          <input type="text" matInput formControlName="dni">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Fecha de Nacimiento</mat-label>
          <input type="date" matInput formControlName="fechaNacimiento">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Puesto</mat-label>
          <mat-select formControlName="jobPosition">
            <mat-option *ngFor="let position of jobPositionArr"
              [value]="position.idJobPosition">{{position.description}}</mat-option>
            <!-- <mat-option value="2">Junior</mat-option>
            <mat-option value="3">Semi-Senior</mat-option>
            <mat-option value="4">Senior</mat-option>  -->
          </mat-select>
        </mat-form-field>

      </div>

      <div class="divHijo2">

        <mat-form-field appearance="fill">
          <mat-label>Descripción</mat-label>
          <input type="text" matInput formControlName="description">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Telefono</mat-label>
          <input type="number" matInput formControlName="phone">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email">
        </mat-form-field>
        <br>
        <div class="container" *ngIf="modify">
          <div style="text-align: center;">
            <mat-label>Foto de Perfil</mat-label>
            <br>

            <button style="margin-top: 10px;" type="button" mat-raised-button (click)="fileInput.click()">
              Subir imagen
            </button>
            <input hidden (change)="captureImg($event)" #fileInput type="file" formControlName="photoProfile">

          </div>
        </div>

        <div style="margin: 5px 0px 0px 50px;" *ngIf="previewImg">
          <div style="width: 100px; height: 100px; background-color: black;">
            <img width="100px" [src]="previewImg" alt="">
          </div>
        </div>

        <br>
        <div class="container" *ngIf="modify">
          <div style="text-align: center;">
            <mat-label>CV</mat-label>
            <br>
            <button style="margin-top: 10px;" type="button" mat-raised-button (click)="fileInput.click()">
              Subir CV</button>
            <input hidden (change)="captureFile($event)" #fileInput type="file" formControlName="cv">

          </div>
          <div style="margin-top: 35px; margin-left: 5px;" *ngIf="previewDoc">
            <label>{{previewName}}</label>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <h1 class="titulo">Trabajo</h1>
    </div>
    <div class="container">
      <table mat-table [dataSource]="dataSourceWork" class="mat-elevation-z8">

        <ng-container matColumnDef="comapania">
          <th mat-header-cell *matHeaderCellDef>Compania</th>
          <td mat-cell *matCellDef="let element">{{element.company}}</td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef>Role</th>
          <td mat-cell *matCellDef="let element">{{element.role}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsWork"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsWork;"></tr>
      </table>
      <div style="margin-left: 5px;">
        <button type="button" *ngIf="modify" mat-fab color="primary">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <br>

    <div class="container">
      <h1 class="titulo">Educacion</h1>
    </div>

    <div class="container">
      <table mat-table [dataSource]="dataSourceEducation" class="mat-elevation-z10">

        <ng-container matColumnDef="institutionName">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">{{element.institutionName}}</td>
        </ng-container>

        <ng-container matColumnDef="degree">
          <th mat-header-cell *matHeaderCellDef>Titulo</th>
          <td mat-cell *matCellDef="let element">{{element.degree}}</td>
        </ng-container>

        <ng-container matColumnDef="admissionDate">
          <th mat-header-cell *matHeaderCellDef>Fecha de ingreso</th>
          <td mat-cell *matCellDef="let element">{{formatoFecha(element.admissionDate)}}</td>
        </ng-container>

        <ng-container matColumnDef="expeditionDate">
          <th mat-header-cell *matHeaderCellDef>Fecha de egreso</th>
          <td mat-cell *matCellDef="let element">{{formatoFecha(element.expeditionDate)}}</td>
        </ng-container>

        <ng-container matColumnDef="Editar">
          <th mat-header-cell *matHeaderCellDef style="text-align: right; ">
            Editar
          </th>

          <td class="table-btn" mat-cell *matCellDef="let element" style="text-align: right; ">
            <button *ngIf="modify" mat-mini-fab color="primary" matTooltip="Editar educacion" >
              <mat-icon>create</mat-icon>
            </button>
          </td>


        </ng-container>


        <ng-container ng-container matColumnDef="Eliminar">
          <th mat-header-cell *matHeaderCellDef style="text-align: right; ">
            Eliminar
          </th>

          <td class="table-btn" mat-cell *matCellDef="let element" style="text-align: right; ">
            <button type="button" *ngIf="modify" mat-mini-fab color="primary" matTooltip="Eliminar educacion"
            (click) = "deleteEducation(element.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsEducation"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsEducation;"></tr>
      </table>
      <div style="margin-left: 5px;">
        <button type="button" *ngIf="modify" mat-fab color="primary">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <app-profile-skill *ngIf="IdProfile" [idProfile]="IdProfile" [modify]="modify"></app-profile-skill>

    <div class="container">
      <button type="button" *ngIf="modify" [routerLink]="['/profile/update-password']" class="botonGuardar"
        mat-raised-button color="primary">
        Editar Contraseña
      </button>
    </div>

    <div class="botones">
      <button type="submit" *ngIf="modify" class="botonGuardar" mat-raised-button color="primary">
        Guardar
      </button>

      <button type="button" *ngIf="modify" (click)="navigate()" routerLinkActive="router-link-active" mat-raised-button
        color="warn">Volver
      </button>

      <button *ngIf="!modify && checkUser()" (click)="navigate()" type="button" routerLinkActive="router-link-active"
        style="margin-left: 5px;" mat-raised-button color="primary">
        Editar Perfil
      </button>
    </div>
  </form>
</div>