<div class="container">
    <div class="titleForm">
        <h1>Lista de Assessment-Request</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button 
                class="buttonMainAdd"
                mat-raised-button
                color="primary"
                (click)="dialogAddResquest()">
    
                Nueva Assessment-Request
            </button>
        </div>
    </div>
    
    <div class="mat-elevation-z8">
        <mat-form-field>
            <mat-label>Buscar Assessment-Request</mat-label>
            <input 
                matInput
                (keyup)="searchQuestion($event)"
                #input>
        </mat-form-field>
    
        <table mat-table [dataSource]="dataSourceAssesmentRequest" class="mat-elevation-z8">
    
            <ng-container matColumnDef="titleRequest">
                <th mat-header-cell *matHeaderCellDef>titleRequest</th>
                <td mat-cell *matCellDef="let element">{{element.titleRequest}}</td>
            </ng-container>
    
            <ng-container matColumnDef="timeInMinutes">
                <th mat-header-cell *matHeaderCellDef>tiempo evaluacion</th>
                <td mat-cell *matCellDef="let element">{{element.timeInMinutes}}</td>
            </ng-container>
    
                
            <ng-container matColumnDef="percentageMinimoRequired">
                <th mat-header-cell *matHeaderCellDef>porcentaje minimo</th>
                <td mat-cell *matCellDef="let element">{{element.percentageMinimoRequired}}</td>
            </ng-container>
    
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let element">
                    <button
                        mat-raised-button
                        class="blackButton"
                        (click)="confirmDelete(element)">
                        Eliminar
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="consultar">
                <th mat-header-cell *matHeaderCellDef>Consultar</th>
                <td mat-cell *matCellDef="let element">
                    <button
                        mat-raised-button
                        class="blackButton"
                        (click)="showRequest(element)"
                       >
                        Consultar
                    </button>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
    
</div>
