<div class="container">
	<mat-sidenav #sidenav class="filter-sidenav" mode="side" opened="true">
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label> Filtrar por skill. </mat-label>
        <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let listSkills of filteredOptions | async" [value]="listSkills" (click)="AgregarSkills(listSkills)" >
            {{listSkills.description}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <div class="button-container">
      <button mat-raised-button color="primary" class="options-filter" *ngFor="let skill of skills">{{skill.description}}
        <button class="close-button" (click)="removeSkill(skill)">X</button>
      </button>
    </div>
    <button mat-raised-button color="primary" class="button-buscar" (click)="FilterById(skills)" [disabled]="skills.length == 0">Buscar</button>
	</mat-sidenav>
	<div class="container-card">
    <h1 class="center-horizontally">BUSQUEDA DE PERFILES</h1>
    <div *ngIf="listaProfile.length == 0">
      <h2 class="center-vertically">Selecciones skills para mostrar perfiles.</h2>
    </div>
    <div *ngIf="listaProfile.length != 0">
      <mat-card class="profile-card card-round" *ngFor="let perfil of listaProfile">

        <!-- TITULO CAPAS CON FOTO -->
        <mat-card-content>
          <img mat-card-md-image src="../assets/profilePicture.png">
          <mat-card-title>{{perfil.profile.name}} {{perfil.profile.lastName}}</mat-card-title>
        </mat-card-content>
        <!-- INFORMACION -->
        <mat-card-content>
          <h3>Informacion</h3>
          <mat-card-subtitle class="subtitle">
            <mat-icon>alternate_email</mat-icon>
            <a href="mailto:{{perfil.profile.mail}}">{{perfil.profile.mail}}</a>
          </mat-card-subtitle>
          <mat-card-subtitle class="subtitle">
            <mat-icon> call</mat-icon>
            <p>{{perfil.profile.phone}}</p>
          </mat-card-subtitle>
        </mat-card-content>
        <!-- SKILLS -->
        <mat-card-content>
          <h3 class="list-skill">Skills:<p *ngFor="let skill of perfil.profile.skill">{{skill.description}}</p></h3>
        </mat-card-content>
        <!-- TRABAJO -->
        <mat-card-content *ngIf="perfil.profile.works[perfil.profile.works.length-1]">
          <h3 class="list-skill">Current Work
            <p>{{perfil.profile.works[perfil.profile.works.length-1].company}}</p>
            <p>{{perfil.profile.works[perfil.profile.works.length-1].role}}</p>
          </h3>
        </mat-card-content>
        <mat-card-content>
          <button mat-raised-button color="primary" [routerLink]="['../consult-profile/', perfil.profile.idUser]" routerLinkActive="router-link-active" >Ver Perfil</button>
        </mat-card-content>
      </mat-card>
    </div>
	</div>
</div>