<div mat-dialog-content>
   <form [formGroup]="formAssessmentRequest">

    <h1>Agregar Requerimientos</h1>
        <mat-grid-list cols="6" rowHeight="90px">
        
            <mat-grid-tile [colspan]="6">
                          
                <mat-form-field appearance="outline">
                    
                    <mat-label>Titulo</mat-label>
                    <input type="text" matInput formControlName="titulo" placeholder="Titulo"
                    autocomplete="off">
                    <mat-error *ngIf="formAssessmentRequest.get('titulo')?.touched &&
                                    formAssessmentRequest.get('titulo')?.errors?.['required']">
                            <span>Titulo es requerida</span>
                        </mat-error>

                        <mat-error *ngIf="formAssessmentRequest.get('titulo')?.touched &&
                                        formAssessmentRequest.get('titulo')?.hasError?.('maxlength')">
                            <span>Valor máximo permitido 120 carácter</span>
                    </mat-error>

                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>

  
    <mat-grid-list cols="6" rowHeight="90px">

        <mat-grid-tile [colspan]="3">
            <mat-form-field appearance="outline">
                <mat-label>Tiempo evaluacion</mat-label>
                <input type="text" matInput formControlName="tiempoEvaluacion" placeholder="Tiempo evaluacion"
                autocomplete="off">
              

            </mat-form-field>
        </mat-grid-tile>
     
        <mat-grid-tile [colspan]="3">
            <mat-form-field appearance="outline">
                <mat-label>Porcentaje Minimo Requerido</mat-label>
                <input type="text" matInput formControlName="porcentajeMinimoRequerido" placeholder="Porcentaje"
                autocomplete="off">
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>

    <app-details-request
    (detailsRequestEmit)="receiveDetail($event)"
    >
    </app-details-request>
    <app-question-required (questionRequiredEmit)="receiveQuestion($event)"></app-question-required>

   </form>
</div>

<br>

<div class="container">
    <button type="submit"
            class="botonVolver blackButton" 
            (click)="addRequest()"
            mat-raised-button
            [disabled]="!notEmpty"
            >Guardar
    </button>
    <button class="botonVolver blackButton" mat-raised-button mat-dialog-close>Volver</button>
</div>