<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div>
        <h2 style="color: black;"
            class="text-center"
        >Agregar educacion</h2>
        </div>

        <form [formGroup]="formulario">
            <div class="row">
                <mat-grid-list cols="2" rowHeight="80px">
                   <mat-grid-tile [colspan]="2">
                    <mat-form-field appearance="outline">
                    <mat-label> Institution Name </mat-label>

                    <input
                    class="validate"
                    matInput
                    type="text"
                    placeholder="Institution Name"
                    formControlName="institutionName"
                    />

                    <mat-error *ngIf="formulario.get('institutionName')?.invalid && formulario.get('institutionName')?.touched">
                        <span *ngIf="this.formulario.get('institutionName')?.errors?.['required']">El Nombre es
                            requerido.</span>
                        <span *ngIf="this.formulario.get('institutionName')?.errors?.['pattern']">Ingrese solo letras.</span>
                        <span *ngIf="this.formulario.get('institutionName')?.errors?.['maxlength']">El Nombre no debe superar
                            los 30 caracteres</span>
                    </mat-error>

                    </mat-form-field>
                   </mat-grid-tile>

                   <mat-grid-tile [colspan]="2">
                    <mat-form-field appearance="outline">
                    <mat-label> Degree </mat-label>

                    <input
                    class="validate"
                    matInput
                    type="text"
                    placeholder="Degree"
                    formControlName="degree"
                    />

                    <mat-error *ngIf="formulario.get('degree')?.invalid && formulario.get('degree')?.touched">
                        <span *ngIf="this.formulario.get('degree')?.errors?.['required']">El Nombre es requerido.</span>
                        <span *ngIf="this.formulario.get('degree')?.errors?.['pattern']">Ingrese solo letras.</span>
                        <span *ngIf="this.formulario.get('degree')?.errors?.['maxlength']">El Nombre no debe superar los 30
                            caracteres</span>
                    </mat-error>

                    </mat-form-field>
                   </mat-grid-tile>

                   <mat-grid-tile [colspan]="1">
                    <mat-form-field appearance="outline">
                      <mat-label> Admission Date </mat-label>
                      <input
                        class="validate"
                        formControlName="admissionDate"
                        type="date"
                        matInput
                        class="datepicker"
                        id="birthdate"
                        placeholder="dd-mm-yyyy"
                        autocomplete="off"
                      />
                    </mat-form-field>
                  </mat-grid-tile>

                  <mat-grid-tile [colspan]="1">
                    <mat-form-field appearance="outline">
                      <mat-label> Expedition Date </mat-label>
                      <input
                        class="validate"
                        formControlName="expeditionDate"
                        type="date"
                        matInput
                        class="datepicker"
                        id="birthdate"
                        placeholder="dd-mm-yyyy"
                        autocomplete="off"
                      />
                    </mat-form-field>
                  </mat-grid-tile>

                  <mat-grid-tile [colspan]="2">
                    <mat-form-field>
                        <mat-label> IdInstitution Type </mat-label>
                        <mat-select formControlName="institutionType">
                            <mat-option *ngFor="let type of InstitutionTypeList" [value]="type.id">{{type.description}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                  </mat-grid-tile>

                  <mat-grid-tile [colspan]="2">
                    <button class="buttonDiploma" 
                        mat-raised-button 
                        (click)="fileInput.click()"
                        >Subir diploma
                    </button>

                    <label>{{previewName}}</label>
                            
                    <input  
                    hidden 
                    (change)="captureFile($event)" 
                    #fileInput 
                    type="file" 
                    formControlName="cv">

                    <div>
                    <button *ngIf="!isUpdate" 
                        mat-flat-button 
                        color="primary" 
                        [disabled]="formulario.invalid"
                        (click)="create()"
                        >Agregar
                    </button>

                    <button *ngIf="isUpdate"
                        mat-flat-button 
                        color="primary" 
                        [disabled]="formulario.invalid"
                        (click)="update()"
                        >Update
                    </button>

                    </div>
                  </mat-grid-tile>
                </mat-grid-list>
            </div>
        </form>
      </div>
    </div>
  </div>