<h1>Agregar educacion</h1>

<div>
    <form [formGroup]="formulario" >
            <mat-form-field appearance="fill">
                <mat-label> Institution Name</mat-label>
                <input type="text" matInput formControlName="institutionName">
            </mat-form-field>

            <mat-form-field appearance="fill">

            <mat-label> Degree </mat-label>
                <input type="text" matInput formControlName="degree">
            </mat-form-field>


            <br>

            <mat-form-field appearance="fill">
            <mat-label> Admission Date </mat-label>
                <input type="date" matInput formControlName="admissionDate">
            </mat-form-field>
            
            <mat-form-field appearance="fill">
            <mat-label>Expedition Date</mat-label>
                <input type="date" matInput formControlName="expeditionDate">
            </mat-form-field>
            <br>
            <mat-form-field>
            <mat-label> IdInstitution Type </mat-label>
            <mat-select formControlName="institutionType">
                <mat-option *ngFor="let type of InstitutionTypeList"
                [value]="type.id">{{type.description}}</mat-option>
            </mat-select>
            </mat-form-field>

            <div>
                <button *ngIf="!isUpdate" mat-flat-button color="primary"  (click)="create()">Agregar</button>
                <button *ngIf="isUpdate" mat-flat-button color="primary"  (click)="update()">Update</button>
            </div>
    </form>
</div>
