<div class="container">
  <div class="row">
    <div class="col-md-6 offset-3 shadow-lg mt-5 p-3 mb-5 bg-white rounded">
      <h2 class="text-center">Cambio de Contraseña</h2>
      <form [formGroup]="formUpdatePass" class="container center-align" (ngSubmit)="updatePassword()">
        <mat-grid-list cols="1" rowHeight="80px">
          <mat-grid-tile>
            <mat-form-field class="inputs" appearance="fill">
              <mat-label>Contraseña Actual</mat-label>
              <input matInput formControlName="currentPass">
              <mat-error
                *ngIf="formUpdatePass.get('currentPass')?.hasError('required') && formUpdatePass.get('currentPass')?.touched">
                La Contraseña <strong>es requerida</strong>
              </mat-error>
              <mat-error
                *ngIf="formUpdatePass.get('currentPass')?.hasError('pattern') && formUpdatePass.get('currentPass')?.touched">
                La Contraseña debe tener al menos 8 caracteres una mayuscula, una minuscula y un caracter especial
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          
          <mat-grid-tile>
            <mat-form-field class="inputs" appearance="fill">
              <mat-label>Nueva Contraseña</mat-label>
              <input matInput formControlName="newPass" type="password">
              <mat-error
                *ngIf="formUpdatePass.get('newPass')?.hasError('required') && formUpdatePass.get('newPass')?.touched">
                La Contraseña <strong>es requerida</strong>
              </mat-error>
              <mat-error *ngIf="formUpdatePass.get('newPass')?.hasError('pattern') && formUpdatePass.get('newPass')?.touched">
                La Contraseña debe tener al menos 8 caracteres una mayuscula, una minuscula y un caracter especial
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="inputs" appearance="fill">
              <mat-label>Confirmar Nueva Contraseña</mat-label>
              <input matInput formControlName="confirmPass" type="password">
              <mat-error
                *ngIf="formUpdatePass.get('confirmPass')?.hasError('required') && formUpdatePass.get('confirmPass')?.touched">
                La Contraseña <strong>es requerida</strong>
              </mat-error>
              <mat-error *ngIf="formUpdatePass.get('confirmPass')?.hasError('notSame')">
                Las Contraseñas <strong>no coinciden</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
    

        </mat-grid-list>
        
    
        <div class="row">
            <div class="col-md-6">
              <button [routerLink]="['/profile/edit-profile/',getIdUser()]" class="btn botonConfirmar form-control" 
              mat-dialog-close> <i class="material-icons left">undo</i> Atras
              </button>
            </div>
            
            <div class="col-md-6">
              <button type="submit" class="btn botonVolver form-control">Confirmar <i class="material-icons right">send</i></button>
              
            </div>
        </div>
          
          
    
      </form>
      </div>
    </div>
  </div>

