.container{
    width: 100%;
    height: auto;
    
}

mat-card{
    display: flex;
    justify-content: center;
    
}

mat-form-field{
    width: 400px;
}

mat-card-title{
    margin-bottom:1rem;
}

form{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding:3rem;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 5px;
}

.botonUpdatePassword{
    margin:5px;
    font-size:1.2rem;
    width:150px;
}

