<mat-card class="carta">
    <form [formGroup]="formUpdatePass"  (ngSubmit)="updatePassword()">
    <mat-card-title>Cambio de Contraseña</mat-card-title>
    <div class="form-field">
        <mat-form-field class="inputs" appearance="fill">
          <mat-label>Contraseña Actual</mat-label>
          <input  matInput formControlName="currentPass">
          <mat-error *ngIf="formUpdatePass.get('currentPass')?.hasError('required') && formUpdatePass.get('currentPass')?.touched">
            La Contraseña <strong>es requerida</strong>
          </mat-error>
          <mat-error *ngIf="formUpdatePass.get('currentPass')?.hasError('pattern') && formUpdatePass.get('currentPass')?.touched">
            La Contraseña debe tener al menos 8 caracteres una mayuscula, una minuscula y un caracter especial
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field class="inputs" appearance="fill">
          <mat-label>Nueva Contraseña</mat-label>
          <input matInput formControlName="newPass" type="password">
          <mat-error *ngIf="formUpdatePass.get('newPass')?.hasError('required') && formUpdatePass.get('newPass')?.touched">
            La Contraseña <strong>es requerida</strong>
          </mat-error>
          <mat-error *ngIf="formUpdatePass.get('newPass')?.hasError('pattern') && formUpdatePass.get('newPass')?.touched">
            La Contraseña debe tener al menos 8 caracteres una mayuscula, una minuscula y un caracter especial
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field class="inputs" appearance="fill">
          <mat-label>Confirmar Nueva Contraseña</mat-label>
          <input matInput formControlName="confirmPass" type="password">
          <mat-error *ngIf="formUpdatePass.get('confirmPass')?.hasError('required') && formUpdatePass.get('confirmPass')?.touched">
            La Contraseña <strong>es requerida</strong>
          </mat-error>
          <mat-error *ngIf="formUpdatePass.get('confirmPass')?.hasError('notSame')">
            Las Contraseñas <strong>no coinciden</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <button  type="submit" class="Guardar" mat-raised-button color="primary">Confirmar</button>   
    </form>
    </mat-card>



    
    