/* html, body { height: 100%; width: 100%;}
body { 
  margin: 0; 
  font-family: Roboto "Helvetica Neue", sans-serif;
}
.mat-elevation-z8 {
  width: 75%;
  margin-left:3%;
  
}
  
table{
  width: 100%;
}

.container {
  min-height: 90vh;
}


.boton{
  width: 38%;
  display:flex;
  justify-content:center;
  align-items:center;
  align-content: center;
  flex-wrap: wrap;
}


.example-container {
  width: 100%;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0)!important;
}

.mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
}

.mat-drawer-inner-container .ng-tns-c43-1 {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.filtro{
  width: 75%;
  margin-left:3%;
}

.example-sidenav-content {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 50px;
  background-color: #0e0d0d;
}

.example-sidenav {
  padding: 20px;
}

.material-symbols-outlined {
  color: white;
  font-size: 2.5rem;


}

.titulo_skill{
    font-weight: bolder;
    text-align: center;
}

.tituloC {
  color: rgb(0, 0, 0);
}

.titulo {
  color: white;
}

.tituloP {
  font-size: 1rem;
  color: white;
} */

.base {
  width: 70%;
  margin: 40px auto;
}

table {
  width: 100%;
}

.mat-form-field {
  margin: 10px;
  font-size: 14px;
  width: 95%;
}

.buttonMainAdd {
  padding: 10px;
  margin-bottom: 12px;
  font-size: 15px;
  float: right !important;
}
