<div class="container">
  <div class="titleForm">
    <h1>Lista de Sectores</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button
        class="buttonMainAdd"
        mat-raised-button
        color="primary"
        (click)="dialogAddSector()"
      >
        Nuevo Sector
      </button>
    </div>
  </div>

  <div class="mat-elevation-z8">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ej: IT"
        #input
      />
    </mat-form-field>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Descripción</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element" style="width: 200px">
          <button
            mat-raised-button
            style="width: 100px; padding: 5px; margin: 2px"
            color="warn"
            (click)="confirmDelete(element)"
          >
            Eliminar
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</div>
