
<div>
    <ngx-spinner>
      <div class="la-square-jelly-box la-2x" style="color: #f4696b">
        <div></div>
        <div></div>
      </div>
      <p style="color: white"> Loading... </p>
    </ngx-spinner>
</div>

<mat-drawer-container class="example-container">
    <mat-drawer #drawer class="example-sidenav" mode="side">
      
      <img src="../assets/logo_neoris.png" alt="foto-perfil" class="foto-perfil">
        <button routerLink="" mat-raised-button style="margin:5px" color="primary" class="home-out-button">
          <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        </button>
        <button routerLink="/login" mat-raised-button style="margin:5px" color="primary" class="log-out-button">
          <mat-icon aria-hidden="false" aria-label="Example home icon">logout</mat-icon>
        </button>
      </mat-drawer>

    <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
            <span class="material-symbols-outlined">
                menu
            </span>
        </button>
    </div>
    <mat-sidenav-container class="sidenav-container" autosize>
      <router-outlet></router-outlet>
    </mat-sidenav-container>


    <footer>
      <mat-toolbar color="primary" class="footer">
        <div class="footer-content">
          <a href="https://www.instagram.com" target="_blank" class="footer-link">
            <mat-icon class="footer-icon">instagram</mat-icon>
          </a>
          <a href="https://www.facebook.com" target="_blank" class="footer-link">
            <mat-icon class="footer-icon">facebook</mat-icon>
          </a>
          <a href="https://www.twitter.com" target="_blank" class="footer-link">
            <mat-icon class="footer-icon">twitter</mat-icon>
          </a>
          <a href="/about-us" class="footer-link">About Us</a>
        </div>
      </mat-toolbar>
    </footer>
</mat-drawer-container>
