.sidenav-container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid rgba(0, 0, 0, 0.5); */
}

.expample-container {
  position: relative
}

.log-out-button {
  top: 3vh;
}

.foto-perfil {
  width: 10rem;
  border-radius: 50%;
}

.sidenav-content {
  height: 100%;
}