<div>
  <ngx-spinner>
    <div class="la-square-jelly-box la-2x" style="color: #f4696b">
      <div></div>
      <div></div>
    </div>
    <p style="color: white"> Loading... </p>
  </ngx-spinner>
</div>


<app-sidenav [showNav]="showNav"></app-sidenav>
<router-outlet></router-outlet>


    <footer *ngIf="showNav">
      <mat-toolbar color="primary" class="footer">
        <div class="footer-content">
          <a href="https://www.instagram.com" target="_blank" class="footer-link">
            <mat-icon class="footer-icon">instagram</mat-icon>
          </a>
          <a href="https://www.facebook.com" target="_blank" class="footer-link">
            <mat-icon class="footer-icon">facebook</mat-icon>
          </a>
          <a href="https://www.twitter.com" target="_blank" class="footer-link">
            <mat-icon class="footer-icon">twitter</mat-icon>
          </a>
          <a href="/about-us" class="footer-link">About Us</a>
        </div>
      </mat-toolbar>
    </footer>


