<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2 shadow-lg p-3 mb-5 bg-white rounded">
      <div
        class="card-header"
        style="background-color: #3f51b5; text-align: center"
      >
        <h2 style="color: white">REGISTRO DEL PERFIL</h2>
      </div>
      <div class="card-body">
        <section>
          <form [formGroup]="formulario">
            <div class="row">
              <mat-grid-list cols="2" rowHeight="80px">
                <mat-grid-tile>
                  <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input
                      class="validate"
                      matInput
                      type="text"
                      placeholder="Ingrese su nombre"
                      formControlName="name"
                      autocomplete="off"
                    />

                    <mat-error
                      *ngIf="
                        formulario.get('name')?.hasError('pattern') &&
                        formulario.get('name')?.touched
                      "
                    >
                      * Solo se admiten letras.
                    </mat-error>
                    <mat-error
                      *ngIf="
                        formulario.get('name')?.hasError('required') &&
                        formulario.get('name')?.touched
                      "
                    >
                      * El nombre es requerido.
                    </mat-error>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                  <mat-form-field appearance="outline">
                    <mat-label>Apellido</mat-label>
                    <input
                      class="validate"
                      formControlName="lastname"
                      type="text"
                      matInput
                      placeholder="Apellido"
                      autocomplete="off"
                    />
                    <mat-error
                      *ngIf="
                        formulario.get('lastname')?.hasError('pattern') &&
                        formulario.get('lastname')?.touched
                      "
                    >
                      * Solo se admiten letras.
                    </mat-error>
                    <mat-error
                      *ngIf="
                        formulario.get('lastname')?.hasError('required') &&
                        formulario.get('lastname')?.touched
                      "
                    >
                      * El apellido es requerido.
                    </mat-error>
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                  <mat-form-field appearance="outline">
                    <mat-label>Documento</mat-label>
                    <input
                      class="validate"
                      formControlName="document"
                      type="text"
                      matInput
                      placeholder="documento"
                      autocomplete="off"
                    />
                    <mat-error
                      *ngIf="
                        formulario.get('document')?.hasError('required') &&
                        formulario.get('document')?.touched
                      "
                    >
                      * El documento es requerido.
                    </mat-error>
                  </mat-form-field>
                </mat-grid-tile>
                
                <mat-grid-tile>
                  <mat-form-field appearance="outline">
                    <mat-label>Fecha Nacimiento</mat-label>
                    <input
                      class="validate"
                      formControlName="birthdate"
                      type="date"
                      matInput
                      class="datepicker"
                      id="birthdate"
                      placeholder="dd-mm-yyyy"
                      autocomplete="off"
                    />
                    <mat-error
                      *ngIf="
                        formulario.get('birthdate')?.hasError('required') &&
                        formulario.get('birthdate')?.touched
                      "
                    >
                      * La fecha de nacimiento es requerida.
                    </mat-error>
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>
            </div>

            <div class="row">
              <button
                mat-raised-button
                color="primary"
                style="width: 100%"
                (click)="onSubmit()"
                [disabled]="formulario.invalid"
              >
                Guardar
                <mat-icon aria-hidden="false" aria-label="Example home icon">
                  save
                </mat-icon>
              </button>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
</div>
