.btn{
  cursor: pointer;
  width: 30%;
  background-color: #000;
  color: aliceblue;
  transition: all .5s ease;
}

.btn:hover{
  transform: scale(1.1);
  background-color: #2c343c;
  color: aliceblue;
}