<div class="container">
    <div class="card" id="mainCard">
        <div class="row">
            <span class="card-title">REGISTRO</span>

        </div>
        <div class="row">
            <span class="card-title">Complete los campos</span>
        </div>

        <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col s12">
                    <label>Nombre</label>
                    <input class="input validate" placeholder="ingrese un nombre" formControlName="name">
                    <span class="helper-text error"
                        *ngIf="formulario.get('name')?.hasError('required') && formulario.get('name')?.touched">
                        <p style="color:red">El campo es requerido.</p>
                    </span>
                    <span class="helper-text error"
                        *ngIf="formulario.get('name')?.hasError('pattern') && formulario.get('name')?.touched">
                        <p style="color:red">El campo debe contener solo letras.</p>
                    </span>
                </div>
                <br>
                <div class="col s12">
                    <label>Apellido</label>
                    <input class="input validate" placeholder="ingrese un apellido" formControlName="lastname">

                    <span class="helper-text error"
                        *ngIf="formulario.get('lastname')?.hasError('required') && formulario.get('lastname')?.touched">
                        <p style="color:red">El campo es requerido.</p>
                    </span>
                    <span class="helper-text error"
                        *ngIf="formulario.get('lastname')?.hasError('pattern') && formulario.get('lastname')?.touched">
                        <p style="color:red">El campo debe contener solo letras.</p>
                    </span>
                </div>
                <br>
                <div class="col s12">
                    <label>Documento</label>
                    <input class="input validate" type="number" placeholder="ingrese un documento" 
                        formControlName="document">

                    <span class="helper-text error"
                        *ngIf="formulario.get('document')?.hasError('required') && formulario.get('document')?.touched">
                        <p style="color:red">El campo es requerido.</p>
                    </span>
                </div>
                <br>
                <div class="col s12">
                    <label>Fecha</label>
                        <input type="text" class="datepicker" id="birthdate" formControlName="birthdate"
                        placeholder="dd-mm-yyyy">

                    <span class="helper-text error"
                        *ngIf="formulario.get('birthdate')?.hasError('required') && formulario.get('birthdate')?.touched">
                        <p style="color:red">El campo es requerido.</p>
                    </span>
                </div>

                <span style="margin-bottom: 1rem;">
                    <button  class="waves-effect waves-light btn black" id="formButton">Enviar </button>
                </span>
            </div>

        </form>

    </div>
</div>