.botonGuardar {
    background-color: #198754;
    color: white;
}

.botonVolver {
    background-color: black;
    color: white;
}

.inputAnswer {

    display: flex;
    flex-direction: column;
}

.BotonAddAnswer{
    padding-left:3rem;
    padding-right:3rem;
    margin-bottom: 1rem;
}