<div class="container">
  
  <mat-card class="carta">
      <form [formGroup]="formLogin"  (ngSubmit)="logUser()">
      <mat-card-title>Ingresar</mat-card-title>
      <div class="form-field">
          <mat-form-field class="inputs" appearance="fill">
            <mat-label>Usuario</mat-label>
            <input  matInput formControlName="userName">
            <mat-error *ngIf="formLogin.get('userName')?.hasError('required') && formLogin.get('userName')?.touched">
              El Usuario <strong>es requerido</strong>
            </mat-error>
            <mat-error *ngIf="formLogin.get('userName')?.hasError('pattern') && formLogin.get('userName')?.touched">
              El Usuario <strong>debe ser valido</strong>
            </mat-error>
          </mat-form-field>
        </div>
  
        <div class="form-field">
          <mat-form-field class="inputs" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password">
            <mat-error *ngIf="formLogin.get('password')?.hasError('required') && formLogin.get('password')?.touched">
              El password <strong>es requerido</strong>
            </mat-error>
            <mat-error *ngIf="formLogin.get('password')?.hasError('pattern') && formLogin.get('password')?.touched">
              El Password debe tener al menos 8 caracteres una mayuscula, una minuscula y un caracter especial
            </mat-error>
          </mat-form-field>
        </div>
        <button  type="submit" class="Guardar" mat-raised-button color="primary">Login</button>   
      </form>
       <a href="" class="link">Olvidaste tu Contraseña?</a>
      </mat-card>
      
</div>

