.carta{
    width: 15%;
    margin-left: 40%;
    margin-top: 3%;
    min-height: 100vh;
}

mat-card-title{
    text-align: center;
}

.Guardar{
    margin-left: 33%;
    margin-bottom: 10px;
    background-color: #3F51B5;
}
.container{
min-height: 100vh;

}
.inputs{
    width: 100%;
}

.Guardar:hover{
    background-color: #0d1c6d;
}

.link{
    margin-left: 10%;
    text-decoration: none;
    font-weight: 550;
    color: black;
}

.link:hover{
    color: #3F51B5;
}
