<div class="container">
  <div class="row">
    <div class="col-md-6 offset-3 shadow-lg p-3 mb-5 bg-white rounded">
      <div
        class=""
        style=" text-align: center">
        <h2>Ingresar</h2>
      </div>
      <div class="card-body">
        <section>
          <form [formGroup]="formLogin" (ngSubmit)="logUser()">
            <div class="row">
              <mat-grid-list cols="1" rowHeight="80px">
                <mat-grid-tile>
                  <mat-form-field appearance="fill">
                    <mat-label>Usuario</mat-label>
                    <input matInput type="text" placeholder="Usuario" formControlName="userName"/>
                    <mat-hint 
                      class="helper-text error" 
                      *ngIf="formLogin.get('userName')?.hasError('pattern') && formLogin.get('userName')?.touched">
                      * El Usuario debe ser un email válido.
                    </mat-hint>
                    <mat-hint
                      class="helper-text error"
                      *ngIf="formLogin.get('userName')?.hasError('required') && formLogin.get('userName')?.touched">
                      * El Usuario es requerido
                    </mat-hint>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                  <mat-form-field appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input
                      formControlName="password"
                      type="password"
                      matInput
                      placeholder="contraseña"
                    />

                    <mat-hint
                      class="helper-text error"
                      *ngIf="
                        formLogin.get('password')?.hasError('required') &&
                        formLogin.get('password')?.touched
                      "
                    >
                      * La contraseña es requerida.
                    </mat-hint>

                    <mat-hint
                      class="helper-text error"
                      *ngIf="
                        formLogin.get('password')?.hasError('pattern') &&
                        formLogin.get('password')?.touched
                      "
                    >
                      * La contraseña debe tener al menos 8 caracteres una
                      mayuscula, una minuscula y un caracter especial.
                    </mat-hint>
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>
            </div>

            <div class="row">
              <button
                mat-raised-button
                color="primary"
                style="width: 100%"
                (click)="logUser()"
                [disabled]="formLogin.invalid"
              >
                Ingresar
                <mat-icon aria-hidden="false" aria-label="Example home icon"
                  >login</mat-icon
                >
              </button>
              <a style="margin-top: 10px" href="#" class="link"
                >¿Olvidaste tu Contraseña?</a
              >
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
</div>
