.carta{
    width: 15%;
    margin-left: 40%;
    margin-top: 3%;
}

mat-card-title{
    text-align: center;
}

.Guardar{
    margin-left: 33%;
    margin-bottom: 10px;
    background-color: #3F51B5;
}

.input{
    height: 2rem;
}

.Guardar:hover{
    background-color: #0d1c6d;
}

.link{
    text-decoration: none;
    font-weight: 550;
    color: black;
}

.link:hover{
    color: #3F51B5;
}

.error{

    color: red;
}

.verticalCenter {

    display: flex;
    align-items: center;
    align-content: center;
}

.container {

    margin-top: 6rem;
    border-radius: 10px;
    padding-top: 2rem;
    width: 40%;
}