input{
    width: 30%;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
.example-full-width {
  width: 100%;
}
