.example-sidenav button {
    display: flex;
    align-items: center;
    padding: 0 50px 0 50px !important;

  }
  
  .example-sidenav button mat-icon {
    margin-right: 5px;
  }

  .foto-perfil {
    width: 12rem;
    border-radius: 50%;
  }

  .container{
    display: flex;
    justify-content: center;
  }

