<h1 mat-dialog-title>Agregar Skill</h1>
<div mat-dialog-content>
  <form [formGroup]="formSkill">
    <mat-grid-list cols="1" rowHeight="90px">
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Sector</mat-label>
          <input
            matInput
            type="text"
            placeholder="Ingrese el sector"
            formControlName="description"
            autocomplete="off"
          />
          <mat-error
            *ngIf="formSkill.get('description')?.touched && formSkill.get('description')?.errors?.['required'] "
          >
            <span class="mensajesValidaciones"
              ><b>Campo Descripcion requerido</b></span
            >
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
<div mat-dialog-actions>
  <button class="botonVolver" mat-raised-button mat-dialog-close color="warn">Volver</button>
  <button
    mat-raised-button
    class="botonGuardar"
    (click)="AddSkills()"
    [disabled]="formSkill.invalid"
  >
    Guardar
  </button>
</div>
