/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: Roboto "Helvetica Neue", sans-serif;
}

.mat-elevation-z8 {
  width: 100%;
}

table {
  width: 100%;
}

.example-container {
  width: 100%;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
}

.mat-drawer-inner-container .ng-tns-c43-1 {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.example-sidenav-content {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 50px;
  background-color: #0e0d0d;
}

.example-sidenav {
  padding: 20px;
}

.material-symbols-outlined {
  color: white;
  font-size: 2.5rem;
}

.tituloC {
  color: rgb(0, 0, 0);
}

.tituloP {
  font-size: 1rem;
  color: white;
}

.dialog {
  width: 40%;
}

.datepicker-date-display {
  background-color: black;
}

.error {
  color: red;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field {
  font-size: 15px;
  width: 100%;
}

.mat-hint {
  font-size: 12px;
}

.mat-error {
  font-size: 12px;
}

.titleForm {
  text-align: center;
  margin-top: 5px;
}
