.contenedor{
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    gap:2rem;
}

.example-card{
    max-width: 400px;
}

.example-header-image{
    background-image: url(/src/assets/logo_neoris.png);
    background-size: cover;
}

.mat-card-content{
    display:flex;
    justify-content: center;
    flex-direction: column;
    gap:0.80rem;
}
