.combo-container {
    width: 300px; /* Ajusta el ancho según sea necesario */
  }

  .mat-elevation-z8{
    width: 15%;
    margin-left: 40%;
    padding: 1%;
  }

  .tituloAdd{
    font-size:1.7rem;
    margin-left: 41%;
    margin-top:1% ;
    
  }
  