<h1>Ingresar Trabajo</h1>

<div>
    <form [formGroup]="formGroup">
        <mat-form-field appearance="fill">
            <mat-label>Company</mat-label>
            <input maxlength="30" type="text" matInput formControlName="company">
            <mat-error *ngIf="formGroup.get('company').hasError('required')">
                Este campo es requerido.
            </mat-error>
            <mat-error *ngIf="formGroup.get('company').hasError('maxLength')">
                Valor maximo de caracteres 30.
            </mat-error>
            <mat-error *ngIf="formGroup.get('company')?.hasError('pattern')">
                Solo se permiten letras.
            </mat-error>
        </mat-form-field>

        <br>
        <mat-form-field appearance="fill">
            <mat-label>Role</mat-label>
            <input maxlength="30" type="text" matInput formControlName="role">
            <mat-error *ngIf="formGroup.get('role').hasError('required')">
                Este campo es requerido.
            </mat-error>
            <mat-error *ngIf="formGroup.get('company')?.hasError('pattern')">
                Solo se permiten letras.
            </mat-error>
        </mat-form-field>
        <br>

        <button *ngIf="!data" (click)="addWork()" type="button" class="botonGuardar" mat-raised-button color="primary">
            Guardar
        </button>
        <br>
        <button *ngIf="data" (click)="updateWork()" type="button" class="botonGuardar" mat-raised-button color="primary">
            Editar
        </button>
    </form>
</div>