<h1>Ingresar Trabajo</h1>

<div>
    <form [formGroup]="formGroup">
        <mat-form-field appearance="fill">
            <mat-label>Company</mat-label>
            <input type="text" matInput formControlName="company">
        </mat-form-field>

        <br>
        <mat-form-field appearance="fill">
            <mat-label>Role</mat-label>
            <input type="text" matInput formControlName="role">
        </mat-form-field>
        <br>

        <button *ngIf="!data" (click)="addWork()" type="button" class="botonGuardar" mat-raised-button color="primary">
            Guardar
        </button>
        <br>
        <button *ngIf="data" (click)="updateWork()" type="button" class="botonGuardar" mat-raised-button color="primary">
            Editar
        </button>
    </form>
</div>