<h1 style="font-size:1.5rem;" mat-dialog-title>Eliminar Skill</h1>

<div style="height:100px;display: flex; align-items: center;justify-content: center;" mat-dialog-content>
    <b>¿Desea eliminar Skill "{{ dataSkill.description}}"?</b>

</div>



<div mat-dialog-actions>
    <button mat-raised-button style="font-size:1.2rem;width:150px;" color="warn" mat-dialog-close>No, Volver</button>
    <button mat-raised-button style="font-size:1.2rem;width:150px;" color="primary" mat-dialog-close cdkFocusInitial
        (click)="DeleteSkill()">Si, Eliminar

    </button>
</div>
